{% load compress %}
{% load static %}

<!DOCTYPE html>
<html class="h-fit"  lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Doguitar</title>
    
    <!-- stylesheets que seran comprimidas -->
    {% compress css %}    
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% endcompress %}
    
</head>
<body class="dark:bg-gradient-to-tr from-fuchsia-900 to-blue-800 h-fit text-white ">
        
    <!-- Nav bar -->
    <header class="sm:ml-64"> 
        {% block navbar %}
        {% endblock %}
    </header>

         {% block sidebar %}
         {% endblock %} 
         
       <!-- Contenido -->  
       <div class="h-full">
        {% block content %}
        {% endblock %}    
       </div>

       <footer class="sm:ml-64 bg-gray-800 opacity-70">
        {% block footer %}
        {% endblock %}
       </footer>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>