{% extends "sidebar.html" %}
{% load static %}

{% block content %}
    <div class="sm:ml-64 h-screen">
        
        <h1 class="text-center m-4">Chords library</h1>
        
        <!-- DIAPASON -->
        <div id="chordModel" class="box-content m-8 max-w-xl mx-auto">
            <div id="colIndex" class="ml-14 mb-4 mr-7 flex justify-between"></div>
            <div class="flex">
                <div id="rowIndex"></div>
                <div id="diapason" class="bg-gray-700 border-sky-400 border-2 ml-4 grid grid-rows-6 grid-cols-12 w-full">
                    
                </div>
            </div>
        </div>

        <!-- SELECCION DE ACORDES -->
        <h1 class="mt-4 text-center">Primary Chords</h1>
        <div id="chordButtons" class="flex space-x-4 justify-center m-4">

            
            
        </div>
        
        <!-- Acorde en JSON -->
        <div class="bg-gray-700">
            {{ chord }}
        </div>
        
    </div>

    
    <script src="{% static 'scripts/chords.js' %}"></script>
 
{% endblock %}