{% extends "footer.html" %}
{% load static %}

{% block content %}
<!-- style="background-image: url(static/Wallpaper.jpg); background-size: cover;
    style="height:300px; width: 400px;"" -->
    <div class="sm:ml-64 text-center flex flex-col min-w-sm h-screen" > 
        <!--//Image-->
        
            <div  style="background-image: url(static/Wallpaper.jpg); background-size: cover;" class="h-3/6">
                    <img src="{% static 'Cover.png'%}" alt="Doguitar Cover" class="h-full ml-10 opacity-80 ">
             </div>
            
  

        <div class="grid grid-cols-3 pt-2">
            <div class="m-4 bg-gray-800 p-2 rounded-lg "> <!-- Lecciones -->
                <div class="flex p-2">
                    <img src="{% static 'Support.jpg' %}" alt="Dogue Lessons" class="rounded-full w-1/3 "> 
                    <div class="flex flex-col ml-2">
                        <h3 class="h-fit my-auto mx-auto text-xl">Lessons</h3>

                    </div>
                </div>
                <p>Ready to rock? Take a guitar lesson and unleash your musical potential!</p>
                <a href="{% url 'lessons' %}"><button class="mt-6 w-full rounded bg-amber-400 p-2 bottom-2">Take ne there!</button></a>
            </div>
    
            <div class="m-4 bg-gray-800 p-2 rounded-lg "> <!-- Lecciones -->
                <div class="flex p-2">
                    <img src="{% static 'Chords.jpg' %}" alt="Dogue Lessons" class="rounded-full w-1/3 "> 
                    <div class="flex flex-col ml-2">
                        <h3 class="h-fit my-auto mx-auto text-xl">Chords library</h3>
                    
                    </div>
                </div>
                <p>Want to learn how to play your favorite songs? Check out our extensive chords library!   </p>
                <a href="{% url 'chords' %}"><button class="inline-block w-full rounded bg-sky-400 p-2 mt-6">Take ne there!</button></a>
            </div>
    
            <div class="m-4 bg-gray-800 p-2 rounded-lg "> <!-- Lecciones -->
                <div class="flex p-2">
                    <img src="{% static 'lessons_images/Doguitar.jpg' %}" alt="Dogue Lessons" class="rounded-full w-1/3 "> 
                    <div class="flex flex-col ml-2">
                        <h3 class="h-fit my-auto mx-auto text-xl">Tuner</h3>
                    
                    </div>
                </div>
                <p>"Don't let a poorly tuned guitar ruin your performance. Use our guitar</p>
                <a href="#"><button class="mt-6 inline-block w-full rounded bg-red-500 p-2">Under construction!</button></a>
            </div>
        </div>     
        
    </div>

{% endblock %}