{% extends "sidebar.html" %}
{% load static %}

{% block content %}
    <div class="sm:ml-64 text-center flex flex-col min-w-sm"> 
        <h4>Bark like a hero!</h4>
        <div class="m-4 bg-gray-800 p-2 rounded-lg "> <!-- Lecciones -->
            <h3>Wenas, quiere continuar con su leccion?</h3>
            <h4>Progreso:  3/10</h4>
            <a href="{% url 'lessons' %}"><button class="rounded dark:bg-blue-500 p-1 mt-2">Continuar</button></a>
        </div>

        <div> <!-- Libreria de acordes -->
            <h3>Libreria de acordes</h3>
            <img src="#" alt="chord_library">
            <a href="chord_library.html">Llevame alla</a>
        </div>

        <div> <!-- Afinador -->
            <h3>Afinador</h3>
            <h4>En construccion!</h4>
            <img src="" alt="afinador">
            <a href="afinador.html">Ir</a>
        </div>
    </div>

{% endblock %}