{% extends 'nav.html' %}

{% block content %}
 
    <div> 
        <h4>Bark like a hero!</h4>
        <div> <!-- Lecciones -->
            <h3>Wenas, quiere continuar con su leccion?</h3>
            <h4>Progreso:  3/10</h4>
            <a href="{% url 'lessons' %}">Continuar</a>
        </div>

        <div> <!-- Libreria de acordes -->
            <h3>Libreria de acordes</h3>
            <img src="#" alt="chord_library">
            <a href="chord_library.html">Llevame alla</a>
        </div>

        <div> <!-- Afinador -->
            <h3>Afinador</h3>
            <h4>En construccion!</h4>
            <img src="" alt="afinador">
            <a href="afinador.html">Ir</a>
        </div>
    </div>

{% endblock %}