{% extends 'sidebar.html' %}

{% load static %}

{% block content %}

    <div class="sm:ml-64"> 
        <h1 class="text-center flex justify-center">Introduccion a ala guitarra</h1>
        {% for x in lecciones %}
        <div class="dark:bg-gray-800 m-2 p-2  hover:bg-gray-700 hover:m-1  border-b-8 border-r-4 rounded-lg border-gray-900">
           <a class="" href="{{ x.get_absolute_url }}/lessons/{{ x.id }}">
                <h3 class="pl-4">{{ x.title }}</h3>
                
            </a>
        </div>
        {% endfor %} 
        
    </div>
    

{% endblock %}