{% extends "base.html" %}


{% block content %}
    <div class="bg-gray-900 rounded max-w-md flex flex-col  m-auto mt-8 p-8">
        
        <h1 class="self-center">Wenas bienvenido :3</h1>
            
        <form class="space-y-8" action="/login/" method="POST">
            {% csrf_token %}
            <div class="flex justify-center">
                <label for="id_username">username: </label><br>
                <input id="id_username" type="text" name="username" autocomplete="username" maxlength="150" required="" class="text-black">
            </div>
            <div class="flex justify-center">
                <label for="id_password">Password: </label><br>
                <input id="id_password" type="password" name="password" autocomplete="current-password" required="" class="text-black">
            </div>
            <button class="flex justify-self-center bg-sky-400 rounded p-2">
                Login
            </button>
        </form>

        {{error}}

        <div>
            <p class="flex justify-center">No tienes una cuenta?</p>
            <a class="flex justify-center" href="{% url 'register' %}"><button class="bg-sky-400 rounded p-2">Crear una cuenta</button></a>
        </div>

    </div>
{% endblock %}