<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <div>
            <a href=""><img src="" alt="Doguitar logo">
                <h1>Doguitar</h1></a>
        </div>
        <form action="">
            <p>Ya tienes una cuenta?</p>
            <p>Usuario</p>
            <input type="text">
            <p>Contraseña</p>
            <input type="password" name="" id="">
            <button type="submit"> Iniciar sesion</button>
            <p>No tienes cuenta?</p>
            <a href="../register/">Registrate :D</a>
        </form>
        

    </div>
</body>
</html>