{% extends 'nav.html' %}

{% block content %}
    <h1>Wenas bienvenido :3</h1>
    <form action="/login/" method="POST">
        {% csrf_token %}
        {{form}}
        <button>
            Login
        </button>
    </form>

    {{error}}
        <!--
            <form action="">
            <p>Ya tienes una cuenta?</p>
            <p>Usuario</p>
            <input type="text">
            <p>Contraseña</p>
            <input type="password" name="" id="">
            <button type="submit"> Iniciar sesion</button>
            <p>No tienes cuenta?</p>
            <a href="{% url 'register' %}">Registrate :D</a>
        </form>

        -->
{% endblock %}