<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <div>
            <a href="{% url 'home' %}"><img src="" alt="Doguitar logo">
                <h1>Doguitar</h1></a>
        </div>
        <form action="">
            <p>Correo electronico</p>
            <input type="email">
            <p>Usuario</p>
            <input type="text">
            <p>Contraseña</p>
            <input type="password" name="" id="">
            <p>Confirme su contraseña</p>
            <input type="password" name="" id="">
            <button type="submit">Registrarse</button>
            <p>Ya tienes cuenta?</p>
            <a href="{% url 'login' %}">Iniciar sesion</a>
        </form>
        

    </div>
</body>
</html>