{% extends 'nav.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{form}}

    <button>Sign up</button>
</form>
<p>{{error}}</p>

<div>
    <p>Ya tienes una cuenta?</p>
    <a href="{% url 'login' %}"><button>Iniciar sesion</button></a>
</div>
<!--<form action="">
            <p>Correo electronico</p>
            <input type="email">
            <p>Usuario</p>
            <input type="text">
            <p>Contraseña</p>
            <input type="password" name="" id="">
            <p>Confirme su contraseña</p>
            <input type="password" name="" id="">
            <button type="submit">Registrarse</button>
            <p>Ya tienes cuenta?</p>
            <a href="{% url 'login' %}">Iniciar sesion</a>
        </form>-->
        
{% endblock %}